.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 25px;
}
.custom-radios input[type="radio"] + label span i {
  opacity: 0;
  transition: all 0.3s ease;
}

.custom-radios input[type="radio"]:checked + label span i {
  opacity: 1;
}

.custom-radios input[type="radio"]:checked + label span {
  opacity: 1;
  border: 2px double;
  z-index: 2;
}

.selectedItem {
  border-radius: 100% !important;
  background: linear-gradient(to right, crimson, #f90);
  padding: 1.8px;
  animation: circle 4s linear infinite;
}

@keyframes circle {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 




button {
  border-radius: 100%;
  border: none;
	cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  display: block;
  z-index: 10;
  -webkit-transition: all 0.2s;
	transition: ease-in-out 0.2s;
} 


button:hover,
button:focus,
button:checked{
  border: 3px solid;
  border-radius: 100%;
   border-color:rgb(0, 255, 128);
} */
